<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/interlockledger/index.json"  />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
        <add key="Username" value="interlockledger" />
        <add key="ClearTextPassword" value="GH_TOKEN" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
